<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIGiftDlg_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,135},{385,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,182}}</string>
                <key>sourceSize</key>
                <string>{385,182}</string>
            </dict>
            <key>UIGiftDlg_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{404,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,155}}</string>
                <key>sourceSize</key>
                <string>{404,155}</string>
            </dict>
            <key>UIGiftDlg_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{404,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,190}}</string>
                <key>sourceSize</key>
                <string>{404,190}</string>
            </dict>
            <key>UIGiftDlg_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,131}}</string>
                <key>sourceSize</key>
                <string>{596,131}</string>
            </dict>
            <key>UIGiftDlg_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,715},{230,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,93}}</string>
                <key>sourceSize</key>
                <string>{230,93}</string>
            </dict>
            <key>UIGiftDlg_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{251,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,89}}</string>
                <key>sourceSize</key>
                <string>{251,91}</string>
            </dict>
            <key>UIGiftDlg_btn_relief.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,715},{230,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,89}}</string>
                <key>sourceSize</key>
                <string>{230,89}</string>
            </dict>
            <key>UIGiftDlg_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{392,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,229}}</string>
                <key>sourceSize</key>
                <string>{392,229}</string>
            </dict>
            <key>UIGiftDlg_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,386},{103,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,106}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>UIGiftDlg_icon_gold01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,522},{107,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,94}}</string>
                <key>sourceSize</key>
                <string>{107,94}</string>
            </dict>
            <key>UIGiftDlg_icon_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,522},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{104,109}</string>
            </dict>
            <key>UIGiftDlg_icon_xiaodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,714},{107,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,104}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>UIGiftDlg_icon_year.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,633},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>UIGiftDlg_lab_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>UIGiftDlg_lab_xiaodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,968},{60,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,33}}</string>
                <key>sourceSize</key>
                <string>{60,33}</string>
            </dict>
            <key>UIGiftDlg_lab_year.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,967},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>UIGiftDlg_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{411,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,382}}</string>
                <key>sourceSize</key>
                <string>{411,382}</string>
            </dict>
            <key>UIGiftDlg_title_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,715},{250,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,87}}</string>
                <key>sourceSize</key>
                <string>{250,87}</string>
            </dict>
            <key>UIGiftDlg_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,715},{250,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,87}}</string>
                <key>sourceSize</key>
                <string>{250,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGiftDlg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57516659780c72a9cbf6e9731da1429b:1/1$</string>
            <key>textureFileName</key>
            <string>UIGiftDlg.png</string>
        </dict>
    </dict>
</plist>
