<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UILevelDlg_9_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UILevelDlg_9_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,592},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>UILevelDlg_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,352},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>UILevelDlg_btn_stable.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,397},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>UILevelDlg_btn_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{156,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,60}}</string>
                <key>sourceSize</key>
                <string>{156,60}</string>
            </dict>
            <key>UILevelDlg_lab_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,173},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>UILevelDlg_lab_laugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,414},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>UILevelDlg_lab_level1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,574},{67,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>UILevelDlg_lab_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,420},{75,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_level2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,528},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>UILevelDlg_lab_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,521},{73,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,35}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_level3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,558},{67,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>UILevelDlg_lab_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,489},{73,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_level4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,451},{67,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,32}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>UILevelDlg_lab_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,490},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_level5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,528},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>UILevelDlg_lab_level6_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,412},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{86,37}</string>
            </dict>
            <key>UILevelDlg_lab_level6_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,500},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>UILevelDlg_lab_level6_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,412},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{86,37}</string>
            </dict>
            <key>UILevelDlg_lab_level6_nv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,486},{84,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,33}}</string>
                <key>sourceSize</key>
                <string>{84,33}</string>
            </dict>
            <key>UILevelDlg_lab_level7_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,451},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_level7_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,535},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>UILevelDlg_lab_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,254},{184,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,51}}</string>
                <key>sourceSize</key>
                <string>{184,51}</string>
            </dict>
            <key>UILevelDlg_lab_upgrade_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,526},{67,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,36}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>UILevelDlg_lab_xiaodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,305},{184,45}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,45}}</string>
                <key>sourceSize</key>
                <string>{184,51}</string>
            </dict>
            <key>UILevelDlg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,131},{2,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,131}}</string>
                <key>sourceSize</key>
                <string>{2,131}</string>
            </dict>
            <key>UILevelDlg_tucao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{211,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,119}}</string>
                <key>sourceSize</key>
                <string>{211,119}</string>
            </dict>
            <key>UILevelDlg_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,123},{38,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,16}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>UILevelDlg_upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,382},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>UILevelDlg_upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,344},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>UILevelDlg_upgrade_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,131},{397,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,121}}</string>
                <key>sourceSize</key>
                <string>{397,121}</string>
            </dict>
            <key>UILevelDlg_upgrade_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,136},{154,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,129}}</string>
                <key>sourceSize</key>
                <string>{154,129}</string>
            </dict>
            <key>UILevelDllg_9_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,451},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UILevelDown_9_bg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UILevelDown_9_bg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,592},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>UILevelDown_9_bg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,414},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>UILevelDown_btn_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,344},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>UILevelDown_jiangji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,132}}</string>
                <key>sourceSize</key>
                <string>{402,132}</string>
            </dict>
            <key>UILevelDown_jiangji_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,403},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>UILevelDown_lab_jiangji_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,564},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>UILevelDown_lab_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,254},{185,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,49}}</string>
                <key>sourceSize</key>
                <string>{185,49}</string>
            </dict>
            <key>UILevelDown_lab_xiaodian.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,264},{184,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,44}}</string>
                <key>sourceSize</key>
                <string>{184,44}</string>
            </dict>
            <key>UILevelDown_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,163},{2,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,122}}</string>
                <key>sourceSize</key>
                <string>{2,122}</string>
            </dict>
            <key>UILevelPochan_9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,123},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UILevelPochan_cry.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,555},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>UILevelPochan_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,292},{117,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,109}}</string>
                <key>sourceSize</key>
                <string>{117,109}</string>
            </dict>
            <key>UILevelPochan_lab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,307},{168,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,35}}</string>
                <key>sourceSize</key>
                <string>{168,35}</string>
            </dict>
            <key>UILevelPochan_lab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{256,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,35}}</string>
                <key>sourceSize</key>
                <string>{256,35}</string>
            </dict>
            <key>UILevelPochan_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{402,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,127}}</string>
                <key>sourceSize</key>
                <string>{402,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILevelDlg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3dba94643a0ab3c6ec1cc8c9b69c183:1/1$</string>
            <key>textureFileName</key>
            <string>UILevelDlg.png</string>
        </dict>
    </dict>
</plist>
