<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UIMessageBox_9_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,150},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIMessageBox_btn_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,344},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>UIMessageBox_btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,150},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>UIMessageBox_hai.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,344},{161,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,83}}</string>
                <key>sourceSize</key>
                <string>{161,83}</string>
            </dict>
            <key>UIMessageBox_kefu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,252}}</string>
                <key>sourceSize</key>
                <string>{146,252}</string>
            </dict>
            <key>UIMessageBox_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{350,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,2}}</string>
                <key>sourceSize</key>
                <string>{350,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIMessageBox.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:899812ac728eca83619d8709500a8594:1/1$</string>
            <key>textureFileName</key>
            <string>UIMessageBox.png</string>
        </dict>
    </dict>
</plist>
