<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sbw0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{236,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,166}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,376},{206,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{206,150}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{218,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{218,170}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,214},{220,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{220,160}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,44},{236,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,168}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>sbw_wangzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,40}}</string>
                <key>sourceSize</key>
                <string>{247,40}</string>
            </dict>
            <key>sbw_zbqp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,69}}</string>
                <key>sourceSize</key>
                <string>{247,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zb_logo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cc02d29e3e8c9cf5725604e764eb23e:1/1$</string>
            <key>textureFileName</key>
            <string>zb_logo.png</string>
        </dict>
    </dict>
</plist>
